body {
  background-color: pink;
}
#head {
  text-align: center;
  text-transform: uppercase;
  padding-top: 200px;
  font-size: 45px;
}
.btn {
  background-color: orangered;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15%;
  padding: 5px;
  margin: 25px;
  padding-left: 20px;
  padding-right: 20px;

}
#div-two {
  text-align: center;
}
#off {
  margin: 50px;
}
:hover.btn {
  cursor: pointer;
}
